extends layout

block content
  h1= title
  - var results = results
  div.container-fluid 
    div.row 
        each item, index in results
            div.col-sm-2(onclick=`buy(${index})`) <br><br>_id: #{item["_id"]} <br>handwash_flavour : #{item["handwash_flavour"]} <br> handwash_cost: #{item["handwash_cost"]} <br> handwash_quantty: #{item["handwash_quantty"]} 

  script.
    function buy(index) {
      alert("You purchased item " + index)
    }

  



